{% extends "layout.html" %}

{% block content %}
<div>
    <h1 class="text-center">{{title}}</h1>
    <form action="/themeplaylist/add_themeplaylist_form" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">테마명</label>
            <input type="text" class="form-control" name="themeplaylist_title">
        </div>
        <div class="mb-3">
            <label class="form-label">설명</label>
            <input type="text" class="form-control" name="description">
        </div> 
        <div class="mb-3">
            <label class="form-label">커버 이미지</label>
            <input type="file" class="form-control" name="cover_image" id="cover_image">
        </div>
        <div class="mb-3">
            <label class="form-label">등록일</label>
            <input type="text" class="form-control" name="release_date">
        </div>
        <div class="text-center">
            <a href="/themeplaylist" class="btn btn-secondary">이전</a>
            <button type="submit" class="btn btn-info">등록</button>
        </div>
    </form>
</div>
{% endblock %}