<!--
    num : 아티스트 넘버
    class :그룹/싱글
    singer: 아티스트 이름
    gender:성별 
    genre:장르
-->
{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="css/bootstrap.css">
<!-- <link rel="stylesheet" href="css/client.css"> -->
{% endblock %}

{% block content %}
<!--bootstrap table layout-->
<div>
    <h1>{{title}}</h1>
    <div class="d-flex justify-content-end my-5">
        <a href="/artist" class="btn btn-primary mx-2">List</a>
     </div>
    <div class="artist_list">
         <form action="/artist/artist_edit" method="POST" name="form" id="form" enctype="multipart/form-data">
        <table class="table">
      <thead>
        <tr>
            <th scope="col">num</th>
            <th scope="col">image</th>
            <th scope="col">singer</th>
            <th scope="col">class</th>
            <th scope="col">gender</th>
            <th scope="col">genre</th>
            <th scope="col">action</th>
        </tr>
      </thead>
     <!--loop-->
     <tbody class="artist-table">
        {% for rs in row %}
        <tr class="insert_list">
            <input type="hidden" value="{{artist_id}}" name="artist_id">
            <th scope="col"><input type="text" placeholder="자동증가 입력X" value="{{rs.artist_id}}"></th>
            <!-- <th scope="col"><input type="file" id="artist_image" name="artist_image" value="{{req.body.filename}}"></th> -->
            <th scope="col-6">
            <div class="d-flex">
                <div>
                    <label>이미지 수정</label>
                    <input type="checkbox" value="1" id="imagechk" name="imagechk">
                </div>
                <div>
                    <p>{{rs.org_artist_image}}</p>
                </div>
                <div>
                    <input type="file" class="form-control M-hidden-input" name="cover_image" id="cover_image">
                    <input type="hidden" name="artist_image" id="artist_image" value="{{rs.artist_image}}">

                </div>
            </div>
            </th>
            <th scope="col"><input type="text" id="artist_name" name="artist_name" value="{{rs.artist_name}}"></th>
            <th scope="col"><input type="text" id="artist_class" name="artist_class" value="{{rs.artist_class}}"></th>
            <th scope="col"><input type="text" id="artist_gender" name="artist_gender" value="{{rs.artist_gender}}"></th>
            <th scope="col"><input type="text" id="artist_genre" name="artist_genre" value="{{rs.genre}}"></th>
            <th scope="col"><button class="editbtn" type="submit">저장</button></th>
        </tr>
            {% endfor %}
          </tbody>
        <!--loop-->
        </table>
        </form>
    </div>
</div>


<!--bootstrap table layout-->

{% endblock %}
{% block script %}
<script>
    // $(function(){

    //     $('.editbtn').cilck(function(){
    //         const forms = $("#form").serialize();
    //     })
    // });
</script>

<script>

    const chkbox = document.querySelector("#imagechk");
    const togglebox = document.querySelector("#cover_image");

    chkbox.addEventListener("click", () => {
        if(chkbox.checked){
            togglebox.style.display = "block";
        }
        else{
            togglebox.style.display = "none";
        }
    })

</script>
{% endblock %}