{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="css/bootstrap.css">
{% endblock %}

{% block content %}
<div>
    <div class="row justify-content-center">
        <a href="/">
            <h1 class="col-12 text-primary text-center border border-3 border-dark border-left-0 border-right-0">{{title}}</h1>
        </a>
    </div>
    <p>
        <a href="/logout" class="btn btn-outline-dark">로그아웃</a>
    </p>
    <div class="d-flex justify-content-between">
        <a href="/" type="button" class="btn btn-outline-primary">메인</a>
        <button type="button" class="btn btn-outline-dark L-btn-show-addForm">추가</button>
    </div>
    <form id="L-insert-client" class="row d-none bg-light p-3">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="form-group">
                <label>이름</label>
                <input type="text" id="username" name="username" placeholder="name" class="form-control">
            </div>
            <div class="form-group">
                <label>아이디</label>
                <input type="text" id="userid" name="userid" placeholder="user_id" class="form-control">
            </div>
            <!-- <div class="form-group">
                <label>비밀번호</label>
                <input type="text" id="userpw" name="userpw" placeholder="userpw" class="form-control">
            </div> -->
            <div class="form-group">
                <label>생년월일 yyyy-mm-dd</label>
                <input type="text" id="birth" name="birth" placeholder="birth" class="form-control">
            </div>
            <div class="form-group">
                <label>이메일</label>
                <input type="text" id="email" name="email" placeholder="email" class="form-control">
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label>전화번호</label>
            <input type="text" id="phone" name="phone" placeholder="phone ( 000-0000-0000 )" class="form-control">
            </div>
            <div class="form-group">
                <label>이용권 구매여부</label>
                <input type="text" id="purchase" name="purchase" placeholder="purchase ( 1 or 0 )" class="form-control">
            </div>
            <!-- <div class="form-group">
                <label>이용권 구매일 yyyy-mm-dd</label>
                <input type="text" id="ticket_date" name="ticket_date" placeholder="ticket_date" class="form-control">
            </div>
            <div class="form-group">
                <label>남은 재생 가능 곡 수 (기간제 이용권일 경우 -1 저장)</label>
                <input type="text" id="ticket_num" name="ticket_num" placeholder="ticket_num" class="form-control">
            </div>
            <div class="form-group">
                <label>이용권 select</label>
                <select id="ticket_type" name="ticket_type" class="form-control" >
                    <option value="none">이용권 없음</option>
                    <option value="1day">1일</option>
                    <option value="1week">1주</option>
                    <option value="2weeks">2주</option>
                    <option value="1month">1개월</option>
                    <option value="50songs">50곡</option>
                    <option value="100songs">100곡</option>
                </select>
            </div> -->
            <div class="col-12 d-flex justify-content-between">
                <button type="button" class="btn btn-outline-dark L-insert">등록</button>
                <button type="button" class="btn btn-warning L-btn-close-addForm">닫기</button>
            </div>
        </div>
        <div class="col-1"></div>
    </form>
    <div id="L-show-client-list" class="L-show-client-list">
        <!--bootstrap table layout-->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col" class="text-danger">user_id(PK)</th>
                    <!-- <th scope="col">userpw</th> -->
                    <th scope="col">birth</th>
                    <th scope="col">email</th>
                    <th scope="col">phone</th>
                    <th scope="col">purchase</th>
                    <!-- <th scope="col">ticket_date</th>
                    <th scope="col">ticket_num</th>
                    <th scope="col">ticket_type</th> -->
                    <th scope="col">이용권</th>
                    <th scope="col">수정</th>
                    <th scope="col">삭제</th>
                </tr>
            </thead>
            <tbody>
                {% for list in sqlData %}
                <tr class="bg-light">    
                    <th scope="row">{{loop.index}}</th>
                    <td>{{list.name}}</td>
                    <td class="text-danger">{{list.user_id}}</td>
                    <!-- <td>{{list.userpw}}</td> -->
                    <td>{{list.birth}}</td>
                    <td>{{list.email}}</td>
                    <td>{{list.phone}}</td>
                    <td>
                        {{list.purchase}} 
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary show-voucher-info" value="{{list.user_id}}" data-toggle="modal" data-target="#exampleModalCenter">
                            정보
                        </button>
                    </td>
                    <!-- <td>{{list.ticket_date}}</td>
                    <td>{{list.ticket_num}}</td>
                    <td>{{list.ticket_type}}</td> -->
                    <td>
                        <button type="button" class="btn btn-info L-btn-show-editForm" value="{{list.user_id}}">수정</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger L-delete" value="{{list.user_id}}">삭제</button>
                    </td>
                </tr>
                <!-- edit form -->
                    <tr class="d-none bg-info text-white">
                        <td scope="row"></td>
                        <td><input type="text" name="name{{loop.index}}" value="{{list.name}}" class="username_update form-control" /></td>
                        <td><input type="text" name="user_id{{loop.index}}" disabled value="{{list.user_id}}" class="userid_update form-control"/></td>
                        <!-- <td><input type="text" name="userpw{{loop.index}}" value="{{list.userpw}}" class="userpw_update form-control"/></td> -->
                        <td><input type="text" name="birth{{loop.index}}" value="{{list.birth}}" class="birth_update form-control"/></td>
                        <td><input type="text" name="email{{loop.index}}" value="{{list.email}}" class="email_update form-control"/></td>
                        <td><input type="text" name="phone{{loop.index}}" value="{{list.phone}}" class="phone_update form-control"/></td>
                        <td><input type="text" name="purchase{{loop.index}}" value="{{list.purchase}}" class="purchase_update form-control"/></td>
                        <!-- <td><input type="text" name="ticket_date{{loop.index}}" value="{{list.ticket_date}}" class="ticket_date_update form-control"/></td>
                        <td><input type="text" name="ticket_num{{loop.index}}" value="{{list.ticket_num}}" class="ticket_num_update form-control"/></td>
                        <td>
                            <select name="ticket_type{{loop.index}}" class="ticket_type_update form-control" >
                                <option value="{{list.ticket_type}}" selected>{{list.ticket_type}}</option>
                                <option value="none">이용권 없음</option>
                                <option value="1day">1일</option>
                                <option value="1week">1주</option>
                                <option value="2weeks">2주</option>
                                <option value="1month">1개월</option>
                                <option value="50songs">50곡</option>
                                <option value="100songs">100곡</option>
                            </select>
                        </td> -->
                        <td></td>
                        <td><button type="button" class="btn btn-outline-dark L-btn-close-editForm">닫기</button></td>
                        <td><button type="button" class="btn btn-outline-dark L-update">완료</button></td>
                    </tr>
                <!-- edit form -->
                {% endfor %}
            </tbody> 
        </table>
    </div>
    <!--bootstrap table layout-->
</div>

<!-- modal -->
<button type="button" class="btn btn-primary show-voucher-info" value="tmdfuf1201" data-toggle="modal" data-target="#exampleModalCenter">
    이용권 정보
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
                <p id="user-id"><!--사용자 아이디--></p>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!--이용권 정보-->
                <input type="hidden" id="have-voucher">
                <label class="form-control">이용권 종류
                    <select name="voucher" class="voucher-update form-control" id="update-plan-type" onchange="changeVoucher()">
                        <option value="" id="update-user-voucher" selected></option>
                        <option value="none">이용권 없음</option>
                        <option value="oneday">1일 이용권</option>
                        <option value="oneweek">1주 이용권</option>
                        <option value="twoweek">2주 이용권</option>
                        <option value="onemonth">1개월 이용권</option>
                        <option value="onlyfifty">50곡 이용권</option>
                        <option value="onlyhundred">100곡 이용권</option>
                    </select>
                </label>
                <label class="form-control">잔여 곡 수(곡 제한 이용권)
                    <input type="text" id="update-remaining-number" class="form-control" placeholder="잔여 곡 수">
                </label>
                <label class="form-control">이용 시작일 (yyyy-mm-dd)
                    <input type="text" id="update-purchase-date" class="form-control" placeholder="시작일">
                </label>
                <label class="form-control">이용 종료일 (yyyy-mm-dd)
                    <input type="text" id="update-renewal-date" class="form-control" placeholder="종료일">
                </label>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary update-voucher">저장</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    const voucherSwitch = (str) => {
        let resultStr;
        switch(str){
            case 'oneday':
                resultStr = '1일 이용권'
                break;
            case 'oneweek':
                resultStr = '1주 이용권'
                break;
            case 'twoweek':
                resultStr = '2주 이용권'
                break;
            case 'onemonth':
                resultStr = '1개월 이용권'
                break;
            case 'onlyfifty':
                resultStr = '50곡 이용권'
                break;
            case 'onlyhundred':
                resultStr = '100곡 이용권'
                break;
            default: 
                resultStr = '이용권 없음'
                break;
        }
        return resultStr;
    } 
    const changeVoucher = () => {
        // console.log($('.voucher-update').val());
        if($('.voucher-update').val() === 'onlyfifty'){
            $('#update-remaining-number').val(50);
            $('#update-remaining-number').attr('disabled', false);
            $('#update-purchase-date').attr('disabled', false);
            $('#update-renewal-date').attr('disabled', false);
        }else if($('.voucher-update').val() === 'onlyhundred'){
            $('#update-remaining-number').val(100);
            $('#update-remaining-number').attr('disabled', false);
            $('#update-purchase-date').attr('disabled', false);
            $('#update-renewal-date').attr('disabled', false);
        }else if($('.voucher-update').val() === 'none'){
            $('#update-remaining-number').val('');
            $('#update-remaining-number').attr('disabled', true);
            $('#update-purchase-date').val('');
            $('#update-purchase-date').attr('disabled', true);
            $('#update-renewal-date').val('');
            $('#update-renewal-date').attr('disabled', true);
        }else{
            $('#update-remaining-number').val('');
            $('#update-remaining-number').attr('disabled', true);
            $('#update-purchase-date').attr('disabled', false);
            $('#update-renewal-date').attr('disabled', false);
        }
        console.log($('#update-remaining-number').val())
    }
    $(function(){
        
        $(".L-btn-show-editForm").click(function(e){
            e.preventDefault();
            $(this).parents("tr").next().removeClass("d-none");
        });
        $(".L-btn-close-editForm").click(function(e){
            e.preventDefault();
            $(this).parents("tr").addClass("d-none");
        });
        $(".L-btn-show-addForm").click(function(e){
            e.preventDefault();
            $("#L-insert-client").removeClass("d-none");
            $(".L-btn-show-addForm").addClass("d-none");
        });
        $(".L-btn-close-addForm").click(function(e){
            e.preventDefault();
            $("#L-insert-client").addClass("d-none");
            $(".L-btn-show-addForm").removeClass("d-none");
        });
        $("#ticket_type").change(function(){
            console.log($('#ticket_type option:selected').text());
        })

        //############################################
        //################### CRUD ###################
        //################## INSERT ##################
        $(".L-insert").click(function(e){
            e.preventDefault();
            const insertConfirm = confirm("이대로 추가할까용");
            if(insertConfirm == true){
                const sendData = {
                name : $("#username").val(),
                user_id : $("#userid").val(),
                birth : $("#birth").val(),
                email : $("#email").val(),
                phone : $("#phone").val(),
                purchase : $("#purchase").val()
                };
                $.ajax({
                    type: "post",
                    url: "/client/insert",
                    dataType: "json",
                    data: sendData,
                    success: function(rs){
                        if(rs == 1){
                            alert("등록 ok");
                            location.href="/client";
                        }else{
                            alert("에러: sql error");
                        }
                    },
                    error: function(err){
                        alert('에러: ajax did not success' +err );
                    }
                });
            }else{
                console.log("등록 취소");
            }
        });
        //################## DELETE ##################
        $(".L-delete").click(function(e){
            e.preventDefault();
            const deleteConfirm = confirm("정말 삭제할까용");
            if(deleteConfirm == true){
                const deleteId = $(this).val();
                const sendData = {
                    user_id: deleteId
                };
                console.log(deleteId);
                $.ajax({
                    type: "post",
                    url: "/client/delete",
                    dataType: "json",
                    data: sendData,
                    success: function(rs){
                        if(rs == 1){
                            alert("삭제 ok");
                            location.href="/client";
                        }else{
                            alert("sql 에러!");
                        }
                    },
                    error: function(err){
                        alert('에러: ajax did not success' +err );
                    }
                });
            }else{
                console.log("삭제 취소");
            }
        });
        //################## UPDATE ##################
        $(".L-update").click(function(e){
            e.preventDefault();
            const updateConfirm = confirm("이대로 업데이트할까용");
            if(updateConfirm == true){
                const sendData = {
                    name : $(this).parents("td").siblings().find(".username_update").val(),
                    user_id : $(this).parents("td").siblings().find(".userid_update").val(),
                    birth : $(this).parents("td").siblings().find(".birth_update").val(),
                    email : $(this).parents("td").siblings().find(".email_update").val(),
                    phone : $(this).parents("td").siblings().find(".phone_update").val(),
                    purchase : $(this).parents("td").siblings().find(".purchase_update").val()
                };
                $.ajax({
                    type: "post",
                    url: "/client/update",
                    dataType: "json",
                    data: sendData,
                    success: function(rs){
                        if(rs == 1){
                            alert("업데이트 ok");
                            location.href="/client";
                        }else{
                            alert("sql 에러!");
                        }
                    },
                    error: function(err){
                        alert('에러: ajax did not success' +err );
                    }
                });
            }else{
                console.log("업데이트 취소");
            }
        });
        //################## VOUCHER ##################
        $(".show-voucher-info").click(function(e){
            e.preventDefault();
            
            $.ajax({
                type: "post",
                url: "/client/showVoucher",
                dataType: "json",
                data: {
                    user_id: $(this).val()
                },
                success: function(obj){
                    console.log(obj[0]);
                    const voucherInfo = obj[0];
                    $('#user-id').text(voucherInfo.user_id);
                    $('#user-id').val(voucherInfo.user_id);
                    $('#update-user-voucher').val(voucherInfo.plan_type);
                    $('#update-user-voucher').text(voucherSwitch(voucherInfo.plan_type));
                    $('#have-voucher').val(voucherInfo.haveVoucher);
                    if(voucherInfo.haveVoucher){
                        $('#update-remaining-number').val(voucherInfo.remaining_number);
                        $('#update-remaining-number').text(voucherInfo.remaining_number);
                        if(voucherInfo.remaining_number === null){
                            $('#update-remaining-number').attr('disabled', true);
                        }else{
                            $('#update-remaining-number').attr('disabled', false);
                        }
                        $('#update-purchase-date').val(voucherInfo.purchase_date);
                        $('#update-purchase-date').text(voucherInfo.purchase_date);
                        $('#update-renewal-date').val(voucherInfo.renewal_date);
                        $('#update-renewal-date').text(voucherInfo.renewal_date);
                    }else{
                        $('#update-remaining-number').attr('disabled', true);
                        $('#update-purchase-date').val('');
                        $('#update-purchase-date').attr('disabled', true);
                        $('#update-renewal-date').val('');
                        $('#update-renewal-date').attr('disabled', true);
                    }
                },
                error: function(err){
                    alert('에러: ajax did not success' +err );
                }
            });
        });
        $('.update-voucher').click(function(e){
            e.preventDefault();
            const sendData = {
                user_id: $('#user-id').val(),
                plan_type: $('#update-plan-type').val(),
                purchase_date: $('#update-purchase-date').val(),
                renewal_date: $('#update-renewal-date').val(),
                remaining_number: $('#update-remaining-number').val(),
                haveVoucher: $('#have-voucher').val()
            }
            $.ajax({
                type: "post",
                url: "/client/updateVoucher",
                dataType: "json",
                data: sendData,
                success: function(rs){
                    if(rs == 1){
                        alert("업데이트 ok");
                        location.href="/client";
                    }else{
                        alert("sql 에러!");
                    }
                },
                error: function(err){
                    alert('에러: ajax did not success' +err );
                }
            });
        })
    });
</script>
{% endblock %}