{% extends "layout.html" %}

{% block content %}
<div>
    <div class="d-flex align-items-center justify-content-between">
        <div></div>
        <h1 class="text-center">앨범명 : {{album_title}}({{album_id}})</h1>
        <div>
            <a href="/album" class="btn btn-secondary">이전</a>
            <a href="/album/add_album_music/{{album_id}}&{{album_title}}" class="btn btn-info">음악 추가</a>
        </div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">가수(번호)</th>
                <th scope="col">지역</th>
                <th scope="col">장르</th>
                <th scope="col">테마</th>
                <th scope="col">계절</th>
                <th scope="col">작곡</th>
                <th scope="col">작사</th>
                <th scope="col">편곡</th>
                <!-- <th scope="col">가사</th> -->
                <th scope="col">발매일</th>
                <th scope="col">조회수</th>
                <th scope="col">피쳐링</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for music in Music %}
            <tr>    
                <th scope="row">{{music.music_id}}</th>
                <td>{{music.music_title}}</td>
                <td>{{music.artist_name}}({{music.artist_id}})</td>
                <td>{{music.area}}</td>
                <td>{{music.genre}}</td>
                <td>{{music.theme}}</td>
                <td>{{music.season}}</td>
                <td>{{music.composer}}</td>
                <td>{{music.lyricist}}</td>
                <td>{{music.arranger}}</td>                
                <!-- <td>{{music.lyrics}}</td> -->
                <td>{{music.release_date_format}}</td>
                <td>{{music.hit}}</td>
                <td>{{music.featuring}}</td>
                <td><a href="/album/edit_music/{{music.music_id}}" class="btn btn-info">수정</a></td>
                <!-- <td><a href="/music/delete/{{music.id}}" class="btn btn-danger">삭제</a></td> -->
                <td><button type="button" id="music_delete" name="music_delete" class="music_delete btn btn-danger" value="{{music.id}}">삭제</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}