{% extends "layout.html" %}

{% block content %}

<h1>{{title}}님의 좋아요 목록</h1>
<a href="/likey">돌아가기</a>

<!--bootstrap table layout-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">music_ID</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for r in music_list %}
        <tr>    
            <th scope="row">{{loop.index}}</th>
            <!-- <td>{{k_music_title}}</td> -->
            <td>{{r}}</td>
            <td>
                <a href="/likey/likey_view/likey_delete/{{title}}" class="text-white" name="{{title}}">
                    <button type="button" class="btn btn-danger float-right">
                    삭제하기
                    </button>
                </a>
                <!-- <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#delete">
                    삭제
                    <a href="/likey/likey_view/delete/{{r}}" class="text-white">삭제하기</a>
                </button> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- modal -->
<!-- <div class="modal fade" id="delete">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">주의</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          삭제된 내용은 복구되지 않습니다.
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" name="delete_btn" data-dismiss="modal">
            <a href="/likey/likey_view/delete/{{r}}" class="text-white">삭제하기</a>
          </button>
        </div>
  
      </div>
    </div>
  </div> -->

<script>
    $(function warning(){
        $('#del').click(function(){
            $()
        })
    })
</script>
<!--bootstrap table layout-->

{% endblock %}