{% extends "layout.html" %}

{% block content %}

<div class="container text-primary text-center border border-3 border-dark border-left-0 border-right-0 mb-4 position-relative">
    <h1>{{title}}</h1>    
</div>

{% if user %}
    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <a href="/album">Album</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/artist">Artist</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/client">Client</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/likey">Likey</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/music">Music</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/playlist">Playlist</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/themeplaylist">Theme Playlist</a>
            </li>
        </ul>
    </div>
{% else %}
<form action="/login" method="post" class="container py-4">
    <!-- Email input -->
    <input type="hidden" id="administrator" name="isAdmin" value="administrator" />
    <div class="form-outline mb-4">
        <label class="form-label" for="adminId">관리자 아이디</label>
        <input type="text" id="adminId" name="adminId" class="form-control" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="adminPw">관리자 비밀번호</label>
        <input type="text" id="adminPw" name="adminPw" class="form-control" />
    </div>
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-dark btn-block my-4">로그인</button>
</form>
{% endif %}

{% endblock %}