{% extends "layout.html" %}

{% block content %}

<div class="container text-primary text-center border border-3 border-dark border-left-0 border-right-0 mb-4 position-relative">
    <h1>{{title}}</h1>    
</div>

    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">
                <a href="/album">Album</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/artist">Artist</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/client">Client</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/likey">Likey</a>
            </li>
            <!-- <li class="list-group-item list-group-item-action">
                <a href="/music">Music</a>
            </li> -->
            <li class="list-group-item list-group-item-action">
                <a href="/playlist">Playlist</a>
            </li>
            <li class="list-group-item list-group-item-action">
                <a href="/themeplaylist">Theme Playlist</a>
            </li>
        </ul>
    </div>


{% endblock %}