@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* MBJ 2023-11-07 */
*{
    font-family: 'Noto Sans KR', sans-serif;
}

.M-album-image{
    width: 100px;
}

.M-hidden-input{
    display: none;
}