@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.header-box{
    position: fixed;
    top: 0;
    left: 10%;
    right: 0;
    width: 80%;
    height: 100px;
    /* border: 1px solid black; */
}

a, Link{
    text-decoration: none;
    color: black;
}

.logo{
    /* font-family: 'Black Han Sans', sans-serif; */
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.header-chart-link{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.header-login-link{
    color: gray;
    text-decoration: none;
    font-size: 12px;
}

.header-search{
    border: 1px solid gray;
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.header-search-icon{
    top: 7px;
    left: 10px;
}